<section class="banner d-flex align-items-center" style="background-image: url('/src/assets/images/walking-backpack.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    <h1 class="mt-0 font-weight-bold">Réservez des lieux de séjour et <br> des activités uniques.</h1>
                </div>
                <form action="#" class="row banner-search rounded">
                    <div class="form_field addres">
                        <input type="text" class="form-control" placeholder="Destination">
                    </div>

                    <div class="form_field tpmax">
                        <div class="form-group">
<!--                             <label for="example-date-input" class="col-2 col-form-label">Date</label>
 -->                            <div class="">
                              <input class="form-control" type="date" value="2020-08-19" id="example-date-input2">
                            </div>
                          </div>
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                           <div class="">
                              <input class="form-control" type="date" value="2020-08-19" id="example-date-input" />
                            </div>
                          </div>
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>Personnes</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="personnes">
                                <ul class="dropeddown">
                                    <li>300</li>
                                    <li>400</li>
                                    <li>500</li>
                                    <li>200</li>
                                    <li>600</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field tpmax">
                        <div class="form-group">
                            <div class="drop-menu">
                                <div class="select">
                                    <span>Habitat</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <input type="hidden" name="habitat">
                                <ul class="dropeddown">
                                    <li>2000</li>
                                    <li>3000</li>
                                    <li>4000</li>
                                    <li>5000</li>
                                    <li>6000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field srch-btn">
                        <a href="#" class="btn btn-outline-primary rounded">
                            <i class="la la-search"></i>
                            <span>Rechercher</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

