.hebergements-fav .card {
    min-height: 335px;
}

.hebergements-fav .btn i {
    font-size: 20px;
}


.hebergements-fav h2 {
    line-height: 55px;
}

.hebergements-fav .card .card-body p {
    font-size: initial;
    color: initial !important;
    margin-bottom: 16px;
    float: left;
    width: 100%;
    line-height: 1.7;
}

.hebergements-fav hr {
    width: 20%;
    float: left;
    height: 4px;
}

.hebergements-fav .card {
    border-radius: 12px;
}

.hebergements-fav p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
    color: #707070 !important;
}


