<section id="map-container" class="fullwidth-home-map hp3 bg-lightgrey">
  <h3 class="vis-hid">Invisible</h3>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2601.8393293368385!2d2.5167396156900104!3d49.29838667933311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e635753aee6dd1%3A0x156fbc100fe36d35!2s13%20Rue%20Jean%20Carette%2C%2060870%20Rieux!5e0!3m2!1sfr!2sfr!4v1603711745019!5m2!1sfr!2sfr"
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</section>

<div class="contact-sec">
  <div class="container">
    <div class="contact-details-sec">
      <div class="row">
        <div class="col-lg-8 col-md-8 pl-0">
          <div class="contact_form">
            <h3>Contactez-nous</h3>
            <p> Vous souhaitez nous contacter, vous avez une question, n’hésitez pas ! Pour cela, vous pouvez utiliser
              le formulaire ci-dessous :

              ATTENTION : si vous êtes intéressé par une annonce, pour contacter l'agence qui diffuse le bien il faut
              utiliser le formulaire "Contacter l'agence qui diffuse cette annonce" qui figure sur l'annonce et ne pas
              utiliser le formulaire ci-dessous. </p>
            <form class="js-ajax-form">
              <div class="form-group no-pt">
                <div class="missing-message">
                  Il y a une erreur dans un champs de donnée
                </div>
                <div class="success-message">
                  <i class="fa fa-check text-primary"></i> Merci!. Votre message a bien été envoyé...
                </div>
                <div class="error-message">Il y a une erreur dans un champs de donnée</div>
              </div><!--form-group end-->
              <div class="form-fieldss">
                <div class="row">
                  <div class="col-lg-4 col-md-4 pl-0">
                    <div class="form-field">
                      <input type="text" name="name" placeholder="Votre Nom et Prénom" id="name">
                    </div><!-- form-field end-->
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <div class="form-field">
                      <input type="email" name="email" placeholder="Email" id="email">
                    </div><!-- form-field end-->
                  </div>
                  <div class="col-lg-4 col-md-4 pr-0">
                    <div class="form-field">
                      <input type="text" name="phone" placeholder="Téléphone">
                    </div><!-- form-field end-->
                  </div>
                  <div class="col-lg-12 col-md-12 pl-0 pr-0">
                    <div class="form-field">
                      <textarea name="message" placeholder="Votre Message"></textarea>
                    </div><!-- form-field end-->
                  </div>
                  <div class="col-lg-12 col-md-12 pl-0">
                    <button type="submit" class="btn-default submit">Envoyer</button>
                  </div>

                </div>
              </div><!--form-fields end-->
            </form>
          </div><!--contact_form end-->
        </div>
        <div class="col-lg-4 col-md-4 pr-0">
          <div class="contact_info">
            <h3>Nos informations de contact</h3>
            <ul class="cont_info">
              <li><i class="la la-map-marker"></i> 13-17 Rue Jean Carette, 60870, Rieux.</li>
              <li><i class="la la-phone"></i> +33 6 12 18 28 00</li>
              <li><i class="la la-envelope"></i><a href="mailto:info@example.com" title="">contact@atypikhouse.com</a></li>
            </ul>
            <ul class="social_links">
              <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!--contact_info end-->
        </div>
      </div>
    </div><!--contact-details-sec end-->
  </div>
</div><!--contact-sec end-->
