 <section class="ctapps d-flex align-items-center z-index-1" style="background-image: url('/src/assets/images/ctapps.png')">
    <div class="container">
        <div class="row flex-column">
            <div class="col-12">
                <h2 class="text-white text-center font-weight-bold mb-4">AtypikHouse  sur <br>votre smartphone</h2>
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg mx-2 p-rounded-2" href="#" role="button"><i class="fab fa-apple mr-2"></i>App Store</a>
                    <a class="btn btn-primary btn-lg mx-2 p-rounded-2" href="#" role="button"><i class="fab fa-google mr-2"></i>Google Play</a>
                </p>
            </div>
        </div>
    </div>
</section>
