<section class="newsletter d-flex align-items-center z-index-1 bg-img"
    style="background-image: url('/src/assets/images/couples-river.png')">
    <div class="container">
        <div class="row flex-column">
            <div class="col-12">
                <h2 class="text-white text-center font-weight-bold mb-3">Restez au courant</h2>
                <p class="lead text-center mb-4 text-white">
                    Fusce placerat pretium mauris, vel sollicitudin elit<br> lacinia vitae. Quisque sit amet nisi erat.
                </p>

                <div class="row justify-content-center">
                    <div class="col-md-6 input-group bg-white align-self-center align-content-center">
                        <input type="email" class="form-control b-0" placeholder="Enter your email">
                        <button class="btn rounded b-0" type="submit"><i class="fas fa-paper-plane text-white"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

