
  <section [style.background-color]="color" class="bottom section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-sm-6 col-md-4 pr-lg-5">
          <div class="bottom-logo titles-footer-wrapper">
            <img src="../../../../../assets/images/logo-ah-2-5-1.png" alt="" class="img-fluid">
          </div>
          <div>
            <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut
              lacinia tortor morbi ultricies laoreet ullamcorper.
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-sm-6 col-md-3">
          <div class="titles-footer-wrapper">
            <h3>Liens Utiles</h3>
          </div>
          <div class="footer-list">
            <ul>
              <li>
                <a href="#" title="">Half Map</a>
              </li>
              <li>
                <a href="#" title="">Register</a>
              </li>
              <li>
                <a href="#" title="">Pricing</a>
              </li>
              <li>
                <a href="#" title="">Add Listing</a>
              </li>
            </ul>
          </div>
          <!--bottom-list end-->
        </div>
        <div class="col-xl-2 col-sm-6 col-md-3">
          <div class="titles-footer-wrapper">
            <h3>Liens Utiles</h3>
          </div>
          <div class="footer-list">
            <ul>
              <li>
                <a href="#" title="">Half Map</a>
              </li>
              <li>
                <a href="#" title="">Register</a>
              </li>
              <li>
                <a href="#" title="">Pricing</a>
              </li>
              <li>
                <a href="#" title="">Add Listing</a>
              </li>
            </ul>
          </div>
          <!--bottom-list end-->
        </div>
        <div class="col-xl-4 col-sm-12 col-md-5 pl-0">
          <div class="titles-footer-wrapper">
            <h3>Contact</h3>
          </div>
          <div class="footer-desc">

            <p>
              13-17 Rue Jean Carette, 60870, Rieux.
            </p>
            <p>
              <u>Phone</u> : (+33) 0612182800
            </p>
            <p>
              <u>E-Mail</u> : contact@atypikhouse.com
            </p>
            <p>
              Accédez au formulaire de contact <a href="#" class="text-bold text-underline">ici</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer mt-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="footer-content">
              <div class="row justify-content-between">
                <div class="col-xl-6 col-md-6">
                  <div class="copyright">
                    <p>&copy; AtypkikHouse 2020. Tous droits réservés.</p>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="footer-social">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>


