.titles-footer-wrapper {

    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h3{
        font-size: 16px;
    }

}


.bottom.section-padding {
    padding: 50px 0px 50px;
}

.bottom-list {
margin-top: 6px; }

.bottom-list h3 {
  font-size: 18px;
  font-weight: 500;
 }

.footer-list ul li a {
  line-height: 25px;
  font-size: 14px;
  padding-left: 23px;
}

.bottom a:hover {
    color: #ff8500;
}

.bottom a {
    color: rgb(33, 37, 41);
}

.footer-list ul li a:hover {
padding-left: 30px;
}
.footer-list ul li {
position: relative;
}
.footer-list ul li:before {
content: '\f112';
font-family: lineawesome;
position: absolute;
top: 50%;
left: -4px;
font-size: 14px;
color: #78797f;
transform: translateY(-50%);
}
.footer-list ul li a i {
margin-right: 17px;
position: relative;
top: -1px;
font-size: 14px;
}

.bottom-list > ul {
  margin-top: 4px;
  float: left;
  width: 100%;
}
.bottom-desc {
margin-top: 6px;
padding-right: 5px;
}
.bottom-desc h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px; }
.bottom-desc p {
  color: #67686c;
  float: left;
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  margin-top: 7px;
  padding-right: 15px;
}

.bottom-logo img {
max-width: 105px;
max-height: 50px;
}

.footer-content {
padding: 20px 0px 20px 0;
border-top: 1px solid #e0e1e6; }
.footer-content .copyright p {
  margin-bottom: 1px;
  margin-top: 8px;
  font-size: 13px;
}

.footer-social {
text-align: right; }
.footer-social a {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #e0e1e6;
  color: #838488;
  display: inline-block;
  line-height: 35px;
  border-radius: 50px;
  font-size: 13px;
  margin: 0px 3px 0px 7px;
}
.footer-social a:hover {
color: #fff;
border-color: transparent;
}
.footer-social a:last-child {
margin-right: 0;
}
